@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    @apply font-Figtree;
    color: #ffffff;
    background: radial-gradient(
            circle at left,
            #6e1fed 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        radial-gradient(
            circle at right,
            #2d0074 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        radial-gradient(
            circle at bottom,
            #d884ff 0%,
            rgba(255, 255, 255, 0) 100%
        );
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 540px) {
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 540px) {
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
